node_modules
dist
.git
.gitignore
*.md
.env
.env.*
!package*.json
tsc_result.txt
__tests__
test
*.spec.ts
*.e2e-spec.ts
jest.config.*
.eslintrc.*
.prettierrc
babel.config.js
metro.config.js
android
ios
